@import "tailwindcss";

/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Regular.ttc') format('ttc');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    color-scheme: dark light;
    --color-primary: #8839ef;
    --color-background-dark: #141118;
    font-family: 'Iosevka';
}

.text-primary {
    color: var(--color-primary);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-primary-90 {
    background-color: color-mix(in srgb, var(--color-primary) 90%, transparent);
}

.bg-primary-90 {
    background-color: color-mix(in srgb, var(--color-primary) 90%, transparent);
}

.bg-primary-80 {
    background-color: color-mix(in srgb, var(--color-primary) 80%, transparent);
}

.bg-primary-30 {
    background-color: color-mix(in srgb, var(--color-primary) 30%, transparent);
}

.bg-primary-20 {
    background-color: color-mix(in srgb, var(--color-primary) 20%, transparent);
}

.hover\:text-primary:hover {
    color: var(--color-primary);
}

.hover\:bg-primary-90:hover {
    background-color: color-mix(in srgb, var(--color-primary) 90%, transparent);
}

.hover\:bg-primary-90:hover {
    background-color: color-mix(in srgb, var(--color-primary) 90%, transparent);
}

.hover\:bg-primary-30:hover {
    background-color: color-mix(in srgb, var(--color-primary) 30%, transparent);
}

.bg-background {
    background-color: var(--color-background-dark);
}